<div class="navbar-container">
  <div class="logo-container">
    <a routerLink="/" class="logo-link">
      <mat-icon class="pharmacy-icon">assignment</mat-icon>
      <span class="logo-text">Farmacias</span>
    </a>
  </div>

  <button mat-icon-button class="menu-button" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <nav class="nav-links" [class.active]="menuActive">
    <ul class="links-list">
      <li><a routerLink="/" routerLinkActive="active-link">Inicio</a></li>
      <li><a routerLink="/productos" routerLinkActive="active-link">Medicamentos</a></li>
      <li>
        <a routerLink="/login" class="login-link">
          <mat-icon class="icon-login">login</mat-icon>
          <span class="login-text">Ingresar</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
