<div class="head">
  <div class="logo">
    <a routerLink="/">
      <img src="pastilla.jpg" alt="pastilla.jpg">
    </a>
  </div>

  <div class="barra-busqueda">
    <form action="" class="search-bar-form">
      <button class="button-search">Buscar</button>
      <input type="text" class="search-bar">
    </form>
  </div>


  <nav>
    <ul class="links">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/drugs">Medicamentos</a></li>
      <li><a routerLink="/login">Registrarse/Iniciar Sesión</a></li>
    </ul>
  </nav>
</div>
