.navbar-container {
  background-color: #486f99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 0 5%;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.pharmacy-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
  color: #e2e8f3;
  margin-right: 10px;
}

.logo-text {
  color: #e2e8f3;
  font-weight: 700;
  font-size: 1.5rem;
}

.menu-button {
  display: none;
  color: #e2e8f3;

  @media (max-width: 768px) {
    display: block;
  }
}

.nav-links {
  display: flex;
  transition: all 0.3s ease;

  @media (max-width: 768px) {
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    background-color: #486f99;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    transform: translateY(-150%);
    z-index: 100;

    &.active {
      transform: translateY(0);
    }
  }
}

.links-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }
}

.links-list li {
  margin: 0 15px;

  @media (max-width: 768px) {
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }
}

.links-list a {
  font-weight: 700;
  color: #e2e8f3;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
  display: flex;
  align-items: center;

  &:hover {
    color: white;
    transform: scale(1.05);
  }

  @media (max-width: 768px) {
    justify-content: center;
    padding: 10px 0;
    width: 100%;
  }
}

.active-link {
  color: white !important;
  border-bottom: 2px solid white;
}

.icon-login {
  font-size: 30px;
  height: 30px;
  width: 30px;
  margin-right: 5px;

  @media (max-width: 768px) {
    margin-right: 10px;
  }
}

.login-text {
  @media (max-width: 480px) {
    display: none;
  }

  @media (max-width: 768px) {
    display: inline;
  }
}
