.wrapper {
  width: 100vw;
  height: 100vh;
  //Flex
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h2{
color: #486f99;
}

.box-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f3;
  border-style: solid;
  border-color: #486f99;
  padding: 5rem 3rem 3rem;

}

.login {
  margin-top: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form{
  text-align: center;
  padding: 10px;
  margin-top: 2rem;
  width: 20rem;
}
.btn{
  padding: 10px;
  margin-top: 2rem;
  width: 20rem;
  background-color: #486f99;
  color: #e2e8f3;
}

.btn:hover{
  transform: scale(0.9);
  color:#486f99;
  background-color: #e2e8f3;
}

.forgot-password{
  margin-top:10px;
}
.forgot-password:hover{
  transform: scale(1.1);
}
