<div class="global">
  <app-navbar></app-navbar>
  <div class="wrapper">

    <div class="box-register">
      <h2>Crea una cuenta</h2>
        <input type="text" class="form" placeholder="Nombre">
        <input type="text" class="form" placeholder="Apellidos">
        <input type="text" class="form" placeholder="Número de telefono">
        <input type="text" class="form" placeholder="Escribe tu correo electrónico">
        <input type="text" class="form" placeholder="Crea una contraseña">
        <input type="text" class="form" placeholder="Confirma tu contraseña">
        <button class="btn">Registrarse</button>
    </div>

    <div class="box-login">
      <h2>Iniciar Sesión</h2>
      <input type="text" class="form" placeholder="Correo electrónico">
      <input type="text" class="form" placeholder="Contraseña">
      <button class="btn">Iniciar Sesión</button>
      <a href="" class="forgot-password">¿Olvidaste tu contraseña?</a>
    </div>
  </div>
</div>
