<div class="global">
  <app-navbar></app-navbar>
  <div class="wrapper">
    <div class="login">
      <div class="box-login">
      <h2>Iniciar Sesión</h2>
      <input type="text" class="form" placeholder="Correo electrónico">
      <input type="text" class="form" placeholder="Contraseña">
      <button class="btn">Iniciar Sesión</button>
      <a href="" class="forgot-password">¿Olvidaste tu contraseña?</a>
    </div>
    <p>¿No tienes una cuenta?</p>
    <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Crea tu cuenta</a>
    </div>
  </div>
</div>
