<div class="global">
  <app-navbar></app-navbar>

  <div class="content">
    <div class="prod">
      <div class="images">
        <img src="pastilla.jpg" alt="">
      </div>
      <h5>Nombre producto</h5>

      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, reiciendis ipsum enim sit consequatur deleniti fugiat ex adipisci quaerat libero soluta recusandae, non nulla delectus obcaecati sed, magnam facere quo!</p>

    </div>

    <div class="prod">
      <div class="images">
        <img src="pastilla.jpg" alt="">
      </div>
        <h5>Nombre producto</h5>

      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, reiciendis ipsum enim sit consequatur deleniti fugiat ex adipisci quaerat libero soluta recusandae, non nulla delectus obcaecati sed, magnam facere quo!</p>

    </div>

    <div class="prod">
      <div class="images">
        <img src="pastilla.jpg" alt="">
      </div>
      <h5>Nombre producto</h5>

      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, reiciendis ipsum enim sit consequatur deleniti fugiat ex adipisci quaerat libero soluta recusandae, non nulla delectus obcaecati sed, magnam facere quo!</p>

    </div>
  </div>
</div>
